/* dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: left;
    }
}

/* light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: left;
    }
}

/* default - computer */
/* category posing */
.pagedoll {
    position: relative;
    padding-left: 15%;
}

.basicInfo {
    position: relative;
    padding-left: 50%;
    padding-top: 2%;
}

.portfolios {
    position: relative;
}

.about {
    position: relative;
    overflow: auto;
}

.contact {
    position: relative;
}

/* pagedoll */
#terminaldoll {
    position: absolute;
}

#doll {
    position: absolute;
}

#dollhead {
    position: absolute;
    top: -16px;
    left: 20%
}

#logodoll {
    position: absolute;
    left: 18%;
}
/* about */